*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
body {
  font: 400 1.125rem/2rem "Manrope", sans-serif;
}

h1 {
  font: 600 2rem/2.5rem "Fraunces", sans-serif;
}

h2 {
  font: 600 2rem/2.5rem "Fraunces", sans-serif;
}

h3 {
  font: 600 2rem/2.5rem "Fraunces", sans-serif;
}

h4 {
  font: 600 2rem/2.5rem "Fraunces", sans-serif;
}

h5 {
  font: 600 2rem/2.5rem "Fraunces", sans-serif;
}

h6 {
  font: 600 2rem/2.5rem "Fraunces", sans-serif;
}

body {
  text-align: center;
}

.header {
  padding-inline: clamp(1rem, -4.8rem + 15.5vw, 10rem);
  padding-block: clamp(2rem, -1.145rem + 7.74vw, 3.5rem);
  display: flex;
  background: #24053e;
}
.header__link {
  position: relative;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.1875rem solid #44ffa1;
  transition: color 0.3s ease-in;
}
.header__link:hover, .header__link:focus {
  color: #44ffa1;
}

.curve {
  border: none;
  width: 100%;
  aspect-ratio: 20/1;
  -webkit-clip-path: ellipse(55% 100% at top);
          clip-path: ellipse(55% 100% at top);
}
.curve-top {
  background-color: #24053e;
}
.curve-middle {
  background-color: #fcf8ff;
}

.top {
  position: relative;
  overflow-x: hidden;
  padding-inline: clamp(1rem, -4.8rem + 15.5vw, 10rem);
  padding-top: 2rem;
  padding-bottom: clamp(8rem, 7.01rem + 4.2vw, 10.8rem);
  background: #24053e;
}
.top__title {
  margin: auto;
  max-width: 13ch;
  font-size: clamp(3.125rem, 2.46rem + 2.82vw, 5rem);
  line-height: clamp(3.125rem, 2.46rem + 2.82vw, 5rem);
  color: #fff;
}
.top__underlined {
  -webkit-text-decoration: underline 0.1875rem solid #44ffa1;
          text-decoration: underline 0.1875rem solid #44ffa1;
  text-underline-offset: clamp(0.4rem, 0.33rem + 0.3vw, 0.6rem);
}
.top__btn {
  padding: clamp(0.6rem, 0.18rem + 1.03vw, 0.8rem) 1.5rem;
  background: #44ffa1;
  font-weight: 700;
  color: #24053e;
  border: 0.1875rem solid #44ffa1;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  margin-top: 2.5rem;
}
.top__btn:hover, .top__btn:focus {
  background: #24053e;
  color: #44ffa1;
}

.middle {
  position: relative;
  padding-inline: clamp(1rem, -4.8rem + 15.5vw, 10rem);
  padding-top: clamp(7rem, 2.75rem + 18.11vw, 10rem);
  padding-bottom: 4rem;
  background: #fcf8ff;
}
.middle__hero-img {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  margin-inline: auto;
  transform: translate(5%, -45%);
  max-width: clamp(14rem, 9.47rem + 39.13vw, 44.69rem);
}
.middle__list {
  list-style: none;
}
.middle__highlight::before {
  content: counter(list-item);
  display: grid;
  place-content: center;
  margin: 2.5rem auto 0;
  border: 0.0625rem solid #24053e;
  border-radius: 50%;
  width: clamp(3rem, 1.95rem + 2.58vw, 3.5rem);
  aspect-ratio: 1/1;
  font-family: "Fraunces";
  font-size: clamp(1.25rem, 0.725rem + 1.29vw, 1.5rem);
  font-weight: 600;
  color: #24053e;
}
.middle__title {
  margin-top: 1.5rem;
  font-size: clamp(1.75rem, 1.225rem + 1.29vw, 2rem);
  font-weight: 600;
  color: #24053e;
}
.middle__desc {
  margin-top: clamp(1rem, -0.57rem + 3.87vw, 1.75rem);
  font-size: clamp(1rem, 0.737rem + 0.645vw, 1.125rem);
  line-height: 1.75rem;
  color: #584d62;
}

.bottom {
  padding-inline: clamp(1rem, -4.8rem + 15.5vw, 10rem);
  padding-top: 20rem;
}
.bottom__text-wrapper {
  position: relative;
  padding: 1.95rem;
  background: #24053e;
  color: #fff;
}
.bottom__img {
  position: absolute;
  z-index: -1;
  inset: 0;
  margin-inline: auto;
  transform: translate(0, -80%);
  max-width: 17.5rem;
}
.bottom__title {
  font-size: clamp(2rem, 0.93rem + 4.53vw, 3rem);
  font-weight: 600;
}
.bottom__desc {
  margin-top: clamp(1rem, -1.096rem + 5.16vw, 2rem);
  font-size: clamp(1rem, 0.737rem + 0.645vw, 1.125rem);
  line-height: clamp(1.75rem, 1.225rem + 1.29vw, 2rem);
}
.bottom__btn {
  padding: clamp(0.6rem, 0.18rem + 1.03vw, 0.8rem) 1.5rem;
  background: #44ffa1;
  font-weight: 700;
  color: #24053e;
  border: 0.1875rem solid #44ffa1;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  margin-top: clamp(1.5rem, 0.45rem + 2.58vw, 2rem);
  font-size: 1rem;
}
.bottom__btn:hover, .bottom__btn:focus {
  background: #24053e;
  color: #44ffa1;
}

.footer {
  padding-inline: clamp(1rem, -4.8rem + 15.5vw, 10rem);
  margin-block: clamp(4.6rem, 3.54rem + 4.507vw, 7.6rem);
  display: grid;
  justify-items: center;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 3.5rem;
}
.footer__link {
  transition: transform 0.2s ease-in;
}
.footer__link:hover, .footer__link:focus {
  transform: scale(1.12);
}

@media only screen and (min-width: 40.625rem) and (max-width: 62.5rem) {
  .middle__highlight {
    margin-left: 22%;
    margin-right: 8.5%;
    text-align: left;
  }
  .middle__highlight::before {
    position: absolute;
    transform: translateX(calc(-100% - 2rem));
  }
}
@media only screen and (min-width: 40.625rem) {
  .top::before {
    content: url("../assets/images/bg-pattern-1.svg");
    position: absolute;
    left: 0;
    transform: translate(-70%, -20%);
  }
  .top::after {
    content: url("../assets/images/bg-pattern-2.svg");
    position: absolute;
    right: 0;
    transform: translate(50%, -10%);
  }
  .middle__title {
    margin-top: 3rem;
  }
  .bottom {
    text-align: left;
    padding-top: 17rem;
  }
  .bottom__text-wrapper {
    margin-left: 25%;
    padding: clamp(3.5rem, 2.45rem + 2.58vw, 4rem);
  }
  .bottom__text-wrapper::after {
    content: url("../assets/images/bg-pattern-3.svg");
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-5%, 50%);
  }
  .bottom__img {
    margin-left: 0;
    transform: translate(-62%, -55%);
    max-width: 17.5rem;
  }
}
@media only screen and (min-width: 62.5rem) {
  .top::before {
    content: url("../assets/images/bg-pattern-1.svg");
    position: absolute;
    left: 0;
    transform: translate(-40%, -10%);
  }
  .top::after {
    content: url("../assets/images/bg-pattern-2.svg");
    position: absolute;
    right: 0;
    transform: translate(28%, 10%);
  }
  .middle {
    padding-top: 17rem;
    padding-bottom: 8rem;
  }
  .middle__list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .bottom__title {
    font-size: 3.5rem;
  }
  .bottom__text-wrapper {
    margin-left: 37%;
  }
  .bottom__text-wrapper::after {
    transform: translate(-30%, 30%);
  }
  .bottom__img {
    transform: translate(-80%, -35%);
    max-width: 29.375rem;
  }
}/*# sourceMappingURL=main.css.map */