@use "resets";
@use "colors";
@use "fonts";
@use "mixins" as *;

body {
  text-align: center;
}

.header {
  @include side-padding;
  padding-block: 2rem;

  display: flex;
  background: colors.$dark-purple;

  &__link {
    position: relative;
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    color: colors.$white;
    text-decoration: none;
    border-bottom: 0.1875rem solid colors.$eucalyptus;

    &:hover,
    &:focus {
      color: colors.$eucalyptus;
    }
  }
}

.curve {
  border: none;
  width: 100%;
  aspect-ratio: 20 / 1;
  clip-path: ellipse(55% 100% at top);

  &-top {
    background-color: colors.$dark-purple;
  }

  &-middle {
    background-color: colors.$ghost-white;
  }
}

.top {
  position: relative;
  @include side-padding;
  padding-top: 2rem;
  padding-bottom: 8rem;
  background: colors.$dark-purple;

  &__title {
    font-size: 3.125rem;
    line-height: 3.125rem;
    color: colors.$white;
  }

  &__underlined {
    text-decoration: underline 0.1875rem solid colors.$eucalyptus;
    text-underline-offset: 0.4rem;
  }

  &__btn {
    margin-top: 2.5rem;
    padding: 0.6rem 1.5rem;
    background: colors.$eucalyptus;
    font-weight: 700;
    color: colors.$dark-purple;
    border: 0.1875rem solid colors.$eucalyptus;

    &:hover,
    &:active {
      background: colors.$dark-purple;
      color: colors.$eucalyptus;
    }
  }

  &__hero-img {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    margin-inline: auto;
    transform: translateY(65%);
    max-width: min(90%, 18.65rem);
  }
}

.middle {
  @include side-padding;
  margin-top: 8rem;

  &__list {
    list-style: none;
  }

  &__highlight {
    &::before {
      content: ;
    }
  }
}

.bottom {
  @include side-padding;
}

.footer {
  @include side-padding;
}
