@use "resets";
@use "colors";
@use "fonts";
@use "mixins" as *;

body {
  text-align: center;
}

.header {
  @include side-padding;
  padding-block: 2rem;

  display: flex;
  background: colors.$dark-purple;

  &__link {
    position: relative;
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    color: colors.$white;
    text-decoration: none;
    border-bottom: 0.1875rem solid colors.$eucalyptus;

    &:hover,
    &:focus {
      color: colors.$eucalyptus;
    }
  }
}

.curve {
  border: none;
  width: 100%;
  aspect-ratio: 20 / 1;
  clip-path: ellipse(55% 100% at top);

  &-top {
    background-color: colors.$dark-purple;
  }

  &-middle {
    background-color: colors.$ghost-white;
  }
}

.top {
  position: relative;
  overflow-x: hidden;
  @include side-padding;
  padding-top: 2rem;
  padding-bottom: clamp(8rem, 7.01rem + 4.2vw, 10.8rem);
  background: colors.$dark-purple;

  &__title {
    margin: auto;
    max-width: 13ch;
    font-size: clamp(3.125rem, 2.46rem + 2.82vw, 5rem);
    line-height: clamp(3.125rem, 2.46rem + 2.82vw, 5rem);
    color: colors.$white;
  }

  &__underlined {
    text-decoration: underline 0.1875rem solid colors.$eucalyptus;
    text-underline-offset: clamp(0.4rem, 0.33rem + 0.3vw, 0.6rem);
  }

  &__btn {
    @include green-button;
    margin-top: 2.5rem;
  }
}

.middle {
  position: relative;
  @include side-padding;
  padding-top: clamp(7rem, 2.75rem + 18.11vw, 10rem);
  padding-bottom: 4rem;
  background: colors.$ghost-white;

  &__hero-img {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    margin-inline: auto;
    transform: translate(5%, -45%);
    max-width: clamp(14rem, 9.47rem + 39.13vw, 44.69rem);
  }

  &__list {
    list-style: none;
  }

  &__highlight {
    &::before {
      content: counter(list-item);
      display: grid;
      place-content: center;
      margin: 2.5rem auto 0;
      border: 0.0625rem solid colors.$dark-purple;
      border-radius: 50%;
      width: clamp(3rem, 1.95rem + 2.58vw, 3.5rem);
      aspect-ratio: 1 / 1;
      font: 600 1.25rem "Fraunces", sans-serif;
      color: colors.$dark-purple;
    }
  }

  &__title {
    margin-top: 1.5rem;
    font-size: clamp(1.75rem, 1.225rem + 1.29vw, 2rem);
    font-weight: 600;
    color: colors.$dark-purple;
  }

  &__desc {
    margin-top: clamp(1rem, -0.57rem + 3.87vw, 1.75rem);
    font-size: clamp(1rem, 0.737rem + 0.645vw, 1.125rem);
    line-height: 1.75rem;
    color: colors.$davys-grey;
  }
}

.bottom {
  @include side-padding;
  padding-top: 20rem;

  &__text-wrapper {
    position: relative;
    padding: 1.95rem;
    background: colors.$dark-purple;
    color: colors.$white;
  }

  &__img {
    position: absolute;
    z-index: -1;
    inset: 0;
    margin-inline: auto;
    transform: translate(0, -80%);
    max-width: 17.5rem;
  }

  &__title {
    font-size: clamp(2rem, 0.93rem + 4.53vw, 3rem);
    font-weight: 600;
  }

  &__desc {
    margin-top: clamp(1rem, -1.096rem + 5.16vw, 2rem);
    font-size: clamp(1rem, 0.737rem + 0.645vw, 1.125rem);
    line-height: clamp(1.75rem, 1.225rem + 1.29vw, 2rem);
  }

  &__btn {
    @include green-button;
    margin-top: clamp(1.5rem, 0.45rem + 2.58vw, 2rem);
    font-size: 1rem;
  }
}

.footer {
  @include side-padding;
  margin-block: clamp(4.6rem, 3.54rem + 4.507vw, 7.6rem);
  display: grid;
  justify-items: center;

  &__socials {
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    margin-top: 3.5rem;
  }

  &__link {
    transition: transform 0.2s ease-in;

    &:hover,
    &:focus {
      transform: scale(1.12);
    }
  }
}

// Media queries

@media only screen and (min-width: 40.625rem) and (max-width: 62.5rem) {
  // only tablet view

  .middle {
    &__highlight {
      margin-left: 22%;
      margin-right: 8.5%;
      text-align: left;

      &::before {
        position: absolute;
        transform: translateX(calc(-100% - 2rem));
      }
    }
  }
}

@media only screen and (min-width: 40.625rem) {
  // tablet

  .top {
    &::before {
      content: url("../assets/images/bg-pattern-1.svg");
      position: absolute;
      left: 0;
      transform: translate(-70%, -20%);
    }

    &::after {
      content: url("../assets/images/bg-pattern-2.svg");
      position: absolute;
      right: 0;
      transform: translate(50%, -10%);
    }
  }

  .middle {
    &__title {
      margin-top: 3rem;
    }
  }

  .bottom {
    text-align: left;
    padding-top: 17rem;

    &__text-wrapper {
      margin-left: 25%;
      padding: clamp(3.5rem, 2.45rem + 2.58vw, 4rem);

      &::after {
        content: url("../assets/images/bg-pattern-3.svg");
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-5%, 50%);
      }
    }

    &__img {
      margin-left: 0;
      transform: translate(-62%, -55%);
      max-width: 17.5rem;
    }
  }
}

@media only screen and (min-width: 62.5rem) {
  // desktop

  .top {
    &::before {
      content: url("../assets/images/bg-pattern-1.svg");
      position: absolute;
      left: 0;
      transform: translate(-40%, -10%);
    }

    &::after {
      content: url("../assets/images/bg-pattern-2.svg");
      position: absolute;
      right: 0;
      transform: translate(28%, 10%);
    }
  }

  .middle {
    padding-top: 17rem;
    padding-bottom: 8rem;

    &__list {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .bottom {
    &__title {
      font-size: 3.5rem;
    }

    &__text-wrapper {
      margin-left: 37%;

      &::after {
        transform: translate(-30%, 30%);
      }
    }

    &__img {
      transform: translate(-80%, -35%);
      max-width: 29.375rem;
    }
  }
}
